.list_desc {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list_title {
    min-width: 100px;
}

.list_date {
    min-width: 140px;
}

#add {
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
}

h1 {
    display: inline-block;
}

a.far {
    display: inline;
    margin-left: 10px;
}

textarea{
    resize: none !important;
}