{% extends "todo/index.html" %}

{% load static %}

{% block body %}
</div>
{% if list %}
<form action="{% url 'todo:edit_list' list.id %}" method=post>
{% else %}
<form action="{% url 'todo:add_list' %}" method=post>
{% endif %}
    {% csrf_token %}
    <div class="form-group">
        <label>Title</label>
        <input name="title" type="text" class="form-control" placeholder="Title" required value="{{ list.title }}">
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea name="description" class="form-control" rows="7" required>{{ list.description }}</textarea>
    </div>
    <div class="form-group">
        <label>Start Date</label>
        <input name="startdate" type="date" class="form-control" required value="{{ list.startdate|date:'Y-m-d' }}">
    </div>
    <div class="form-group">
        <label>End Date</label>
        <input name="enddate" type="date" class="form-control" required value="{{ list.enddate|date:'Y-m-d' }}">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}